
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>QTZ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        ::-moz-selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        h1 {
            text-align: center;
        }

        html {
            padding: 30px 10px;
            font-size: 20px;
            line-height: 1.4;
            color: #737373;
            background: #262c31;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        body {
            max-width: 1000px;
            _width: 500px;
            padding: 30px 20px 50px;
            border: 1px solid #b3b3b3;
            border-radius: 4px;
            margin: 0 auto;
            box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
            background: #fcfcfc;
        }

        .container {
            max-width: 800px;
            _width: 380px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Welcome,
        #if( $loggedIn )
        <span>$username</span>
        #else
        <span>QTZ Developer</span>
        #end
        !
    </h2>
    <ul>
    </ul>
    <ul>
        <li><a href="./docs">Documentation</a></li>
        <li><a href="./swagger-ui">Swagger</a></li>
        <li><a href="./swagger/qtz-api-0.0.1.yml">OAS v3 docs</a></li>
    </ul>


    #if( $loggedIn )
    <form action="logout" method="POST">
        <input type="submit" role="button" class="btn btn-primary" value="Logout"/>
    </form>
    #else
    <div class="container">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>
            <button type="submit" role="button" class="btn btn-primary">Login</button>
                #if( $oauthEnabled )
                <a class="btn btn-secondary" role="button" href="/oauth/login/oidc">Login with OAuth</a>
                #end
            #if( $errors )
            <div id="errors">
                <span style="color: red;">Login Failed</span>
            </div>
            #end
        </form>
    </div>
    #end

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>